@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme inline {
    --animate-blink-cursor: blink-cursor 1.2s step-end infinite;
  @keyframes blink-cursor {
  0%, 49% {
    opacity: 1;
        }
  50%, 100% {
    opacity: 0;
        }
    }
}